Tutorial: Introducción a la librería Pandas y el uso de
archivos de Valores Separados por Comas (CSV)

El siguiente es un breve tutorial acerca del uso de la librería Pandas
para el manejo de archivos .csv en Python. Para este, se hará uso de
Python3 y Pandas en sus últimas versiones estables.

Para saber más, puede visitar la documentación oficial https://pandas.pydata.org/

In [ ]:
import pandas as pd

personas = {'Nombre': ['Carlos', 'Maria', 'Pedro', 'Clara'],
            'Edad': [25, 20, 31, 27],
            'Ciudad': ['Bogota', 'Pereira', 'Armenia', 'Medellin'],
            'Estatura': [1.72, 1.65, 1.78, 1.67] }

df = pd.DataFrame(personas)

In [3]:
df

   Nombre  Edad    Ciudad  Estatura
0  Carlos    25    Bogota      1.72
1   Maria    20   Pereira      1.65
2   Pedro    31   Armenia      1.78
3   Clara    27  Medellin      1.67

In [4]:
df.shape

(4, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nombre    4 non-null      object
 1   Edad      4 non-null      int64
 2   Ciudad    4 non-null      object
 3   Estatura  4 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 256.0+ bytes

In [6]:
df.describe()

            Edad  Estatura
count   4.000000  4.000000
mean   25.750000  1.705000
std     4.573474  0.058023
min    20.000000  1.650000
25%    23.750000  1.665000
50%    26.000000  1.695000
75%    28.000000  1.735000
max    31.000000  1.780000

In [7]:
df_filtered = df[df['Edad'] > 25]

In [8]:
df_filtered

  Nombre  Edad    Ciudad  Estatura
2  Pedro    31   Armenia      1.78
3  Clara    27  Medellin      1.67

In [9]:
df_selected = df.loc[0:2, ['Nombre', 'Edad']]

In [10]:
df_selected

   Nombre  Edad
0  Carlos    25
1   Maria    20
2   Pedro    31

In [11]:
df_sorted = df.sort_values('Edad')

In [12]:
df_sorted

   Nombre  Edad    Ciudad  Estatura
1   Maria    20   Pereira      1.65
0  Carlos    25    Bogota      1.72
3   Clara    27  Medellin      1.67
2   Pedro    31   Armenia      1.78

In [13]:
df.to_csv('datos.csv')

In [14]:
personas2 = pd.read_csv('datos.csv')

In [1]:
class Persona:
    def __init__(self, nombre, edad, genero):
        self.nombre = nombre
        self.edad = edad
        self.genero = genero

    def hablar(self, mensaje):
        print(f"{self.nombre} dice: {mensaje}")

    def caminar(self, distancia):
        print(f"{self.nombre} caminó {distancia} metros")

In [2]:
juan = Persona("Juan", 30, "masculino")

In [3]:
print(juan.nombre)
juan.hablar("Hola")
juan.caminar(10)

Juan
Juan dice: Hola
Juan caminó 10 metros

In [1]:
import requests
from bs4 import BeautifulSoup

url = "https://www.nytimes.com/section/world"

# Hacemos una solicitud HTTP GET a la página web
response = requests.get(url)

# Analizamos el contenido HTML de la página web usando Beautiful Soup
soup = BeautifulSoup(response.content, 'html.parser')

# Encontramos los elementos HTML que contienen los títulos de las noticias
headlines = soup.find_all('h2', class_='css-1j9dxys e1xfvim30')

# Imprimimos los títulos de las noticias
for headline in headlines:
    print(headline.text.strip())